.App {
  text-align: left;
  background-color: #FFF9EC;
}

.nav {
  display: block;
  border-right: 3px solid #FCB1A6;
  width: 100px;
  height: 100vh;
  box-shadow: 0px 0px 60px -35px ;
}
.svg path{
  fill: #5D2A42;
}

ul {
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 20px;
}

li {
  margin-bottom: 20px;
}

